<launch>
    <node name="predefined_path_planning" pkg="Predefined_Path" type="predefined_path_planning">
    </node>
    <node name="inverse_kinematics_user" pkg="UserDrive" type="inverse_kinematics_user" output="screen">
    </node>

    <include file="$(find robot_pose_ekf)/robot_pose_ekf.launch">
    </include>

    <include file="$(find ros_gui)/launch/gui_trailer.launch">
    </include>
</launch>
