<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch" />
  <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" />
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find car_sample)/urdf/car_sample.urdf -urdf -model car_sample -urdf -x 2 -y 1.5 -z 0 -model robot"
    output="screen" />
  <!--<node
    name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub /calibrated std_msgs/Bool true" />-->
  <node
    name="pos_error_pub"
    pkg="car_sample"
    type="pos_error_pub" />
  <node
    name="TrailerPathPlanning"
    pkg="car_sample"
    type="TrailerPathPlanning" />

</launch>
